<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <form action="/register" method="POST">
      <label for="username">username</label>
      <input type="text" name="user[username]" id="username" required />
      <label for="password">password</label>
      <input type="text" name="user[password]" id="password" required />
      <button type="submit">Create an User</button>
    </form>
  </body>
</html>
